* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #222;
}

/* HEADER */

header {
    background-color: #222;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header h1 {
    font-size: 1.3rem;
    white-space: nowrap;
}


#menu-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

/* NAVIGATION */

#navigation {
    display: none;
}

#navigation.open {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #222;
}

#navigation ul {
    list-style: none;
}

#navigation a {
    display: block;
    padding: 0.75rem;
    text-decoration: none;
    color: white;
}

#navigation a:hover,
.active {
    background-color: #444;
}

/* MAIN */

main {
    max-width: 900px;
    margin: auto;
    padding: 1rem;
}

.hero {
    background-color: white;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.filters {
    margin-bottom: 1rem;
}

.filters button {
    padding: 0.7rem 1rem;
    margin-right: 0.5rem;
    border: none;
    cursor: pointer;
    background-color: #222;
    color: white;
    border-radius: 5px;
}

/* COURSE CARDS */

#course-container {
    display: grid;
    gap: 1rem;
}

.course-card {
    background-color: white;
    padding: 1rem;
    border-left: 6px solid #222;
    border-radius: 8px;
}

.completed {
    border-left: 6px solid green;
}

/* FOOTER */

footer {
    text-align: center;
    background-color: #222;
    color: white;
    padding: 1rem;
    margin-top: 2rem;
}

/* LARGE SCREEN */

@media screen and (min-width: 767px) {

    #menu-button {
        display: none;
    }

    #navigation {
        display: block;
    }

    #navigation ul {
        display: flex;
        gap: 1rem;
    }

    header h1 {
        font-size: 1.3rem;
    }

    #course-container {
        grid-template-columns: repeat(2, 1fr);
    }
}