/* LARGE SCREEN */

@media screen and (min-width: 767px) {

    #menu-button {
        display: none;
    }

    #navigation {
        display: block;
    }

    #navigation ul {
        display: flex;
        gap: 1rem;
    }

    header h1 {
        font-size: 1.3rem;
    }

    #course-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-me {
        grid-template-columns: 250px 1fr;
    }
}